$pink: #ffb7b7;
$grey: #494949;

.App {
    text-align: center;
    height: 100%;
    font-family: 'Cabin';
    font-size: 14px;
    text-transform: lowercase;
}

.routes {
    margin-top: 50px;
    height: calc(100% - 115px);
    overflow: scroll;
}

.closet {
    height: 100%;
    width: 100%;
    .sidebar-button {
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .edit-button {
        position: fixed;
        top: 0px;
        right: 0px;
        margin: 8px;
    }

    .view-page {
        .one-item {
            position: relative;
            .delete-button {
                position: absolute;
                right: 4%;
            }
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    .make-outfit {
        display: flex;
        flex-direction: column;
        gap: 30px;
        img {
            max-height: 100%;
            display: block;
        }
        .button-container {
            margin-top: -30px;
            margin-left: 25%;
            width: auto;
        }
    }
}

.page {
    padding: 10px;
}
.edit-profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    .edit-username {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        .submit-button {
            height: fit-content;
        }
    }
    .upload-button {
        width: fit-content;
    }
}

.view-page {
    .add-clothing-button {
        margin-top: 50%;
    }
}

#nav-bar {
    p {
        margin-bottom: 0;
        margin-top: -6px;
        color: $grey;
    }
    .icon {
        margin-top: 6px;
    }
}

.profile {
    .header {
        display: flex;
        justify-content: space-evenly;
        margin: 10px 10px;
        border-bottom: 1px solid grey;

        .profile-img {
            width: 140px;
            height: 140px;
            border-radius: 80px;
        }
        .info {
            margin: 20px 10px 10px 10px;
            h3 {
                font-size: 20px;
                margin: 0;
            }
        }
        .num-posts {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            h4 {
                display: center;
                margin: 0px 50px;
            }
        }
        .button-container {
            margin: 10px;
            button {
                margin-right: 10px;
            }
        }
    }

    .saved-outfit {
        .style-title {
            display: flex;
            justify-content: left;
            margin: 18px 10px;
            .items {
                display: flex;
                width: 100%;
                h4 {
                    display: left;
                }
                button {
                    margin-left: 10px;
                    margin-top: 18px;
                    width: 10%;
                    height: 40%;
                }
            }
        }
        .outfit-grid {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.login-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    img {
        width: 60%;
        margin-bottom: -30px;
    }
    .btn {
        width: max-content;
    }
}

.add-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
