.App {
    text-align: center;
    height: 100%;
}

.routes {
    margin-top: 50px;
    height: calc(100% - 95px);
    overflow: scroll;
}

.closet {
    height: 100%;
    width: 100%;
    .sidebar-button {
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .edit-button {
        position: fixed;
        top: 0px;
        right: 0px;
        margin: 8px;
    }

    .view-page {
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    .make-outfit {
        display: flex;
        flex-direction: column;
        gap: 30px;
        img {
            max-height: 100%;
            display: block;
        }
        button {
            text-transform: capitalize;
        }
    }
}

.page {
    padding: 10px;
}
